<div class="mt-4">
  <div class="position-relative">
    <h3>Khoa hoc cua toi</h3>
    <a
      href="/me/trash/courses"
      class="btn btn-primary position-relative"
      role="button"
    >
      Thung rac
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        {{deletedCount}}

      </span>
    </a>

  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ten khoa hoc</th>
        <th scope="col">Trinh do</th>
        <th scope="col">Thoi gian tao</th>
        <th scope="col" colspan="2"></th>

      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href="/courses/{{this._id}}/edit"
              class="btn btn-outline-primary"
              role="button"
            >Sua</a>
          </td>
          <td>
            <a
              href=""
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
              data-id="{{this._id}}"
              role="button"
            >Xoa</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">Khong co khoa hoc nao</td>
          <a href="/courses/create">Dang khoa hoc</a>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete courses }}
<div class="modal" tabindex="-1" id="delete-course-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoa khoa hoc</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Ban chac chan muon xoa khoa hoc nay ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-course">Xoa
          bo</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Huy</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form }}

<form method="POST" name="delete-course-form"></form>

<script>
  var courseId; var deleteForm = document.forms['delete-course-form'];const
  btnDeleteCourse = document.getElementById('btn-delete-course'); const
  deleteCourseModal = document.getElementById('delete-course-modal')
  deleteCourseModal.addEventListener('show.bs.modal', event => { const button =
  event.relatedTarget; courseId = button.getAttribute('data-id') ; });
  btnDeleteCourse.onclick = ()=> { deleteForm.action = '/courses/' + courseId +
  '?_method=DELETE'; deleteForm.submit(); };

</script>