<form class="mt-4" method="POST" action="/courses/trash-handle-form-actions">
  <div class="">
    <a class="ml-5 btn btn-primary" href="/me/stored/courses" role="button">Danh
      sach khoa hoc</a>
    <h3 class="mt-4">Khoa hoc da xoa</h3>

    <div class="mt-4 d-flex align-items-center">
      <div class="form-check" style="max-width:150px">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkbox-all"
        />
        <label class="form-check-label" for="checkbox-all">
          Chon tat ca
        </label>
      </div>

      <select
        class="form-select form-select-sm checkbox-select-all-options"
        aria-label="Default select example"
        style="width: 185px; margin: 0px 16px;"
        name="action"
        required
      >
        <option value="" selected>-- Chon hanh dong --</option>
        <option value="restore">Khoi phuc</option>
        <option value="destroy">Xoa vinh vien</option>

      </select>

      <button
        class="btn btn-primary btn-sm"
        id="btn-check-all-submit"
        disabled
      >Thuc hien</button>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" colspan="1"></th>
        <th scope="col">#</th>
        <th scope="col">Ten khoa hoc</th>
        <th scope="col">Trinh do</th>
        <th scope="col">Thoi gian xoa</th>
        <th scope="col" colspan="2"></th>

      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check" style="max-width:150px">
              <input
                class="form-check-input"
                type="checkbox"
                value="{{this._id}}"
                name="courseIds[]"
              />
            </div>
          </td>
          <td scope="row">{{sum @index 1}}</td>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a
              href=""
              class="btn btn-outline-primary btn-restore"
              data-id="{{this._id}}"
            >Khoi phuc</a>
          </td>
          <td>
            <a
              href=""
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
              data-id="{{this._id}}"
            >Xoa vinh vien</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">Thung rac trong.</td>
          <a
            class="btn btn-primary mt-4"
            href="/me/stored/courses"
            role="button"
          >danh sach khoa hoc</a>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! Confirm delete courses }}
<div class="modal" tabindex="-1" id="delete-course-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoa khoa hoc</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Ban chac chan muon xoa khoa hoc nay ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-course">Xoa
          bo</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Huy</button>
      </div>
    </div>
  </div>
</div>

{{! Restore courses }}

<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>

<script>
  document.addEventListener('DOMContentLoaded', () => { var courseId; var
  deleteForm = document.forms['delete-course-form']; var restoreForm =
  document.forms['restore-course-form']; var btnCheckAllSubmit =
  document.getElementById('btn-check-all-submit'); const btnDeleteCourse =
  document.getElementById('btn-delete-course'); const restoreBtn =
  document.querySelectorAll('.btn-restore'); const deleteCourseModal =
  document.getElementById('delete-course-modal'); var checkBoxAll =
  document.getElementById('checkbox-all'); var checkboxes =
  document.getElementsByName('courseIds[]');
  deleteCourseModal.addEventListener('show.bs.modal', event => { const button =
  event.relatedTarget; courseId = button.getAttribute('data-id'); });
  btnDeleteCourse.onclick = () => { deleteForm.action = '/courses/' + courseId +
  '/force?_method=DELETE'; deleteForm.submit(); }; restoreBtn.forEach(btn => {
  btn.addEventListener('click', e => { e.preventDefault(); console.log('click',
  btn.getAttribute('data-id')); var coursesId = btn.getAttribute('data-id');
  restoreForm.action = '/courses/' + coursesId + '/restore?_method=PATCH';
  restoreForm.submit(); }); }); checkBoxAll.onchange = () => { var isCheckedAll
  = checkBoxAll.checked; console.log('isCheckedAll', isCheckedAll);
  checkboxes.forEach(checkbox => { checkbox.checked = isCheckedAll;
  renderCheckAllSubmitBtn(); }); }; checkboxes.forEach(checkbox => {
  checkbox.onchange = () => { var isCheckAll = checkboxes.length ===
  document.querySelectorAll('input[name="courseIds[]"]:checked') .length;
  console.log('isCheckAll', isCheckAll); checkBoxAll.checked = isCheckAll;
  renderCheckAllSubmitBtn(); }; }); function renderCheckAllSubmitBtn() { var
  checkedCount =
  document.querySelectorAll('input[name="courseIds[]"]:checked').length; if
  (checkedCount > 0) { btnCheckAllSubmit.removeAttribute('disabled'); } else {
  btnCheckAllSubmit.setAttribute('disabled','disabled'); } } });
</script>